<a href="https://colab.research.google.com/github/SeanLaurea/Numerical-Methods-58012/blob/main/Control_and_Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##If Statement

In [9]:
a = 100
b = 12

if b>a:
  print("b is greater than a")

##If.. Elif Statement

In [8]:
a = 100
b = 100

if b>a:
  print("b is greather than a")
elif a==b:
  print("a and b are equal")

a and b are equal

##Else Statement

In [11]:
if b>a:
  print("b greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

##Short Hand If Statement

In [12]:
if a>b: print("a greater than b")

a greater than b

##Short Hand If.. Else Statement

In [13]:
print("b is greater than a") if b>a else print("a is greater than b")

a is greater than b

##And - if both conditions are true

In [14]:
a = 100
b = 10
c = 45

if a>b and c>b:
  print("Both conditions are true")

Both conditions are true

##Or - if one of the conditions is true

In [15]:
if a>b or b>c:
  print("One condition is true")

One condition is true

##Nested If

In [19]:
x = int(input())

if x>10:
  print("x is above 10")
  if x>20:
    print("x is above 20")
    if x>30:
      print("x is above 30")
      if x>40:
        print("x is above 40")
        if x>50:
          print("x is above 50")
        else:
          print("x is below 50")
else:
  print("x is below 10")

66
x is above 10
x is above 20
x is above 30
x is above 40
x is above 50

##Application 1

In [44]:
age = int(input())

if age<18:
  print("you are not qualified to vote")
else:
    print("you are qualified to vote")

8
you are not qualified to vote

##Application 2

In [25]:
x = int(input())
if x>0:
  print("x is a positive number")
elif x==0:
  print("x is zero")
else:
  print("x is a negative number")

-3
x is a negative number

##Application 3 - Write a program to determine if the grades are:

grade > = 70, Passed
grade = 64 to 69 Remedial
grade < 64 Failed

In [47]:
grade = int(input())

if grade>=70:
  print("Passed.")
elif grade==64 and 68:
  print("Remedial")
else:
  print("Failed")

64
Remedial

##For Loop

In [27]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##The Break Statement

In [33]:
for x in week:
  print(x)
  if x=="Friday":
   break

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

##Range() Funtion

In [34]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

In [35]:
for x in range(2,6):
  print(x)

2
3
4
5

##While Loop

In [36]:
i = 1

while i<6:
  print(i)
  i+=1 #same as i = i+1

1
2
3
4
5

##Continue Statement

In [41]:
i = 1
while i < 6:
  i+=1
  if i == 3:
    continue
  print(i)

2
4
5
6